<header>
    <div class="logo">
        <img src="./src/images/logo.jpeg" alt="Logo de UNOCELL">
    </div>
    <nav>
        <ul>
            {{#each navigation}}
                <div class="hr-vertical"></div>
                <li><a href="{{url}}">{{label}}</a></li>
                
            {{/each}}
        </ul>
    </nav>
</header>