<section class="hero">
    <img src="https://www.ei-ie.org/image/HYVVqSOCVkJSnMq0siertQ5plbjEIkK1BqjUP6qi.jpg/lead.jpg" alt="cel">
    <span class="hero-content">
    <h2>Unocell Por La Educación</h2>
    <p>Campaña solidaria que recibe donaciones de celulares para entregarlos <br> a niños que los necesitan, ayudándolos a acceder a la educación digital.</p>
    </span>
</section>