<section class="media-buttons-section">
    <a href="https://www.instagram.com/unocellreparaciones/"><button class="media-btn1" onclick="incrementClick('counter1')"><img src="src/images/87390.png" alt="Bot贸n 1"></button></a>
    <a href="https://www.tiktok.com/@unocell.oficial"><button class="media-btn2" onclick="incrementClick('counter2')"><img src="src/images/1946552.png" alt="Bot贸n 2"></button></a>
    <a href="https://www.facebook.com/p/Unocell-Hn-100063587169622/"><button class="media-btn3" onclick="incrementClick('counter3')"><img src="src/images/59439.png" alt="Bot贸n 3"></button></a>
    <a href="index.html"><button class="media-btn4" onclick="incrementClick('counter4')"><img src="src/images/1006771.png" alt="Bot贸n 4"></button></a>
</section>