<section class="servicios-btns-container">
    <div class="servicios-botones">
        <a href="about.html"><button class="servicios-boton servicios-boton1">Acerca de Nosotros</button></a>
        <a href="programs.html"><button class="servicios-boton servicios-boton2">Nuestros Productos</button></a>
        <a href="help.html"><button class="servicios-boton servicios-boton3">Cómo Comprar</button></a>
        <a href="gallery.html"><button class="servicios-boton servicios-boton4">Galería</button></a>
        <a href="blog.html"><button class="servicios-boton servicios-boton5">Blog</button></a>
        <a href="events.html"><button class="servicios-boton servicios-boton6">Ofertas</button></a>
        <a href="contact.html"><button class="servicios-boton servicios-boton7">Contacto</button></a>
        <a href="donations.html"><button class="servicios-boton servicios-boton8">Donaciones</button></a>
        <a href="faq.html"><button class="servicios-boton servicios-boton9">FAQ</button></a>
    </div>
</section>