.blog-section {
    padding: 50px;
    margin: 20px;
    border-radius: 20px;
    background-color: #f9f9f9;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.blog-section h2 {
    text-align: center;
    margin-bottom: 1rem;
    color: #303064;
}

.blog-section p {
    text-align: center;
    font-size: 1.2rem;
    margin-bottom: 2rem;
    color: #171731;
}

.blog-post {
    margin-bottom: 30px;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.blog-post h3 {
    margin-top: 0;
    color: #303064;
}

.blog-post p {
    color: #171731;
    margin: 10px 0;
}