.helpSection {
    padding: 50px;
    margin: 100px 20px;
    border-radius: 20px;
    position: relative;
    overflow: hidden;
    z-index: 1;
    h1 {
        position: relative;
        text-align: center;
        margin-bottom: 1rem;
        color: @contenido;
        font-size: 2.5rem;
    }
    p, ol {
        margin: 20px auto;
        text-align: center;
        font-size: 1rem;
        color: @contenido-blanco
    }
    ol {
        padding-left: 0;
        list-style-position: inside;
        max-width: 400px;
        text-align: left;
        li {
            margin-top: 5px;
            margin-bottom: 10px;
            font-size: 1em;
            color: @contenido-blanco;
            &::marker {
                font-size: 1.5em;
                font-weight: bold;
                color: @contenido;
            }
            a {
                color: @contenido;
                &:hover {

                    color: @contenido-hover;
                
                }
            }
        }
    }
}